.fa-2x {
    font-size: 1.5em;
}

.chat-app {
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    top: 19px;
    height: calc(100% - 38px);
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.chat-app-one {
    background-color: #f7f7f7;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.chat-side {
    padding: 0;
    margin: 0;
    height: 100%;
}

.chat-side-one {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    display: block;
    top: 0;
}

.chat-side-two {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    display: block;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

.chat-heading {
    padding: 10px 16px 10px 15px;
    margin: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
}

.heading-avatar {
    padding: 0;
    cursor: pointer;
}

.heading-avatar-icon img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.heading-name {
    padding: 0 !important;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.heading-name-meta {
    font-weight: 700;
    font-size: 100%;
    padding: 5px;
    padding-bottom: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}

.heading-online {
    display: none;
    padding: 0 5px;
    font-size: 12px;
    color: #93918f;
}

.heading-compose {
    padding: 0;
}

.heading-compose i {
    text-align: center;
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.heading-dot,
.heading-dot-right {
    padding: 0;
    margin-left: 10px;
}

.heading-dot-right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.heading-dot-right>svg {
    text-align: right;
    padding: 5px;
    cursor: pointer;
}

.heading-dot-right a svg {
    justify-content: center;
    align-items: center;
    margin: 2.5px;
}

.heading-dot-right a {
    padding: 3px;
}

.heading-dot-right a svg:hover {
    cursor: pointer;
    stroke: #222f3e;
    background-color: #c8d6e5;
    border-radius: 40%;
    padding: 1px;
}

.heading-dot i,
.heading-dot-right i {
    padding: 5px;
    color: #93918f;
    cursor: pointer;
}

.searchBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

.searchBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}

.searchBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    /* height: calc(100% - 120px); */
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sideBar::-webkit-scrollbar-track {
    border: 1px solid #7f8fa6;
    padding: 2px 0;
    background-color: #ced6e0;
    border-radius: 4px;
}

.sideBar::-webkit-scrollbar {
    width: 7px;
}

.sideBar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(35, 34, 41, 0.3);
    background-color: #7f8fa6;
    border: 1px solid #60a3bc;
}

.sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
    width: 98%;
}

.sideBar-body:hover {
    background-color: #f2f2f2;
}

.chat-selected {
    background-color: #a0cbf6;
    border-right: 5px solid #40407a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.chat-selected:hover {
    background-color: #74b9ff;
}

.new-chat {
    background-color: #d6eede;
}

.new-chat:hover {
    background-color: #c1eccf;
}

.user-selected,
.user-selected:hover {
    background-color: #a4ecbb;
}

.sideBar-avatar {
    text-align: center;
    padding: 0 !important;
}

.avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
}

.sideBar-main {
    padding: 0 !important;
}

.sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
}

.sideBar-name {
    padding: 10px !important;
    /* overflow-x: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.sideBar-time {
    padding: 10px !important;
}

.time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
}


/*New Message*/

.newMessage {
    padding: 0 !important;
    margin: 0 !important;
    height: 100%;
    position: relative;
    left: -100%;
}

.newMessage-heading {
    padding: 10px 16px 10px 15px !important;
    margin: 0 !important;
    height: 100px;
    width: 100%;
    background-color: #00bfa5;
    z-index: 1001;
}

.newMessage-main {
    padding: 10px 16px 0 15px !important;
    margin: 0 !important;
    height: 60px;
    margin-top: 30px !important;
    width: 100%;
    z-index: 1001;
    color: #fff;
}

.newMessage-title {
    font-size: 18px;
    font-weight: 700;
    padding: 10px 5px !important;
}

.newMessage-back {
    text-align: center;
    /* vertical-align: baseline; */
    padding: 12px 5px !important;
    display: block;
    cursor: pointer;
}

.newMessage-back i {
    margin: auto !important;
}

.composeBox {
    padding: 0 !important;
    margin: 0 !important;
    height: 60px;
    width: 100%;
}

.composeBox-inner {
    height: 100%;
    width: 100%;
    padding: 10px !important;
    background-color: #fbfbfb;
}

.composeBox-inner input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.compose-sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 160px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.compose-sideBar::-webkit-scrollbar-track {
    border: 1px solid #7f8fa6;
    padding: 2px 0;
    background-color: #ced6e0;
    border-radius: 4px;
}

.compose-sideBar::-webkit-scrollbar {
    width: 7px;
}

.compose-sideBar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(35, 34, 41, 0.3);
    background-color: #7f8fa6;
    border: 1px solid #60a3bc;
}


/*Reply*/

.reply {
    height: 60px;
    width: 100%;
    background-color: #f5f1ee;
    padding: 10px 5px 10px 5px !important;
    margin: 0 !important;
    z-index: 1000;
}

.reply-emojis {
    padding: 2px !important;
}

.reply-emojis i {
    text-align: center;
    padding: 2px !important;
    color: #93918f;
    cursor: pointer;
}

.reply-recording {
    padding: 2px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reply-recording svg {
    cursor: pointer;
    padding: 2.5px;
}

.reply-recording svg:hover {
    cursor: pointer;
    stroke: #222f3e;
    background-color: #c8d6e5;
    border-radius: 40%;
}

.reply-send {
    padding-left: 5px;
}

#btn-save-chat>svg {
    margin-top: 4.5px;
    padding: 2.5px;
    cursor: pointer;
    stroke: #2980b9;
    border-radius: 40%;
}

.msg-file {
    max-height: 80px;
    background: rgb(235, 232, 232);
    position: relative;
    margin-top: -85px;
    margin-bottom: 2px;
    border-top-left-radius: 2em 1em;
    border-top-right-radius: 2em 1em;
    display: flex;
    align-items: center;
    /* grid-template-columns: 1fr 3fr; */
    justify-content: center;
    border: 2px solid #57606f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.msg-file>svg {
    max-height: 75px;
    max-width: 100%;
    padding-left: 10px;
    border-top-left-radius: inherit;
}

.msg-file p {
    overflow-wrap: break-word;
    padding-left: 10px;
}

.display_none {
    display: none;
}


/* #btn-save-chat {
    padding: 0.35em;
    border-radius: 12px;
} */


/* #btn-save-chat path {
    fill: #93918f;
} */

#btn-save-chat.has-chat {
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    stroke: #2c2c54;
    fill: #222f3e;
    border-radius: 40%;
}

#btn-save-chat.has-chat:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btn-save-chat.has-chat>svg {
    fill: #74b9ff;
    padding: 1.5px;
}

.reply-main {
    padding: 2px 5px !important;
}

.reply-main textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
    padding: 5px !important;
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
    height: 100%;
    font-size: 16px;
}

.reply-main textarea:focus {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: none;
}


/*****************CHAT BODY *******************/

.chat-body {
    height: 80vh;
    overflow-y: scroll;
}

.chat-body::-webkit-scrollbar-track {
    border: 1px solid #7f8fa6;
    padding: 2px 0;
    background-color: #ced6e0;
    border-radius: 4px;
}

.chat-body::-webkit-scrollbar {
    width: 7px;
}

.chat-body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(35, 34, 41, 0.3);
    background-color: #7f8fa6;
    border: 1px solid #60a3bc;
}

.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}

.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}

.chat-body .answer.left .avatar {
    left: 0;
}

.chat-body .answer .avatar {
    bottom: 36px;
}

.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}

.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}

.chat-body .answer .name {
    font-size: 14px;
    line-height: 36px;
}

.chat-body .answer.left .avatar .status {
    right: 4px;
}

.chat-body .answer .avatar .status {
    bottom: 0;
}

.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}

.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}

.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}

.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}

.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}

.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}


/*RIGHT*/

.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}

.chat-body .answer.right .avatar {
    right: 0;
}

.chat-body .answer.right .avatar .status {
    left: 4px;
}

.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}

.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}

.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}


/* no chat block */

.chat-body .no-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em;
}

.no-chat svg {
    opacity: 0.2;
    width: 60%;
    height: auto;
}

.no-chat .no-message {
    opacity: 0.2;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.conversation {
    display: none;
}


/* welcome conversation */

.empty-conversation {
    background: #dee0e2;
    padding: 5em;
    display: flex;
    flex-direction: column;
}

.welcome-text {
    font-size: 40px;
}

.welcome-text>.welcome-name {
    font-weight: bold;
}

.welcome-instructions {
    border-radius: 2em;
    border-top-left-radius: unset;
    height: 30vh;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 2em 0 2em 0;
}

.welcome-instructions .instruction-text {
    /* padding: 1.2em; */
    font-size: 22px;
    text-align: center;
}

.auth-mail {
    margin-top: auto;
    font-style: italic;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 7px;
}

.auth-avatar-icon>img {
    width: 8em;
    border-radius: 50%;
    height: auto;
}


/* conversation loader */

.conversation-loading {
    padding: 5em;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* opacity: 0.2; */
}

.loader-bouncing {
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #130f40;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0%;
    }
}

.circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }
    40% {
        transform: scaleX(1);
        opacity: .7;
    }
    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.loader-bouncing span {
    position: absolute;
    top: 75px;
    font-size: 16px;
    letter-spacing: 12px;
    color: #130f40;
    left: 15%;
}


/* modal */

.rounded-borders {
    border-radius: 15px;
    background-color: #dcdde1;
}

.hr-modal {
    display: flex;
    justify-content: center;
}

.display-file {
    border: 2px dashed #636e72;
    border-radius: 15px;
    margin: 8px;
    width: 400px;
    max-height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-file .display-uploaded-image {
    max-width: 100%;
    max-height: inherit;
    height: auto;
    align-items: center;
    margin: 6px 0;
}

.format-file {
    background-color: #4b7bec;
    display: grid;
    max-width: 80%;
    font-weight: bold;
    /* height: auto; */
    margin: 25px 0;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 1.0em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.format-file a {
    color: #fff;
    word-wrap: break-word;
    margin-left: 5px;
}

input[type=file]::file-selector-button {
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #2c3e50;
    color: #fff;
    transition: 1s;
    border-radius: 8px;
    margin: 12px 0 12px 15%;
}

input[type=file]::file-selector-button:hover {
    background-color: #34495e;
    color: #fff;
    border: 2px solid #2c3e50;
}

.button-center {
    text-align: center;
    line-height: 30px;
}


/* arc loader */

.arc::before {
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    border-radius: 100%;
    border-top: 6px solid var(--primary, #0984e3);
    content: '';
    display: none;
    height: 25px;
    width: 25px;
    margin: 5px;
}

.arc.loader-show::before {
    display: block;
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 700px) {
    .chat-app {
        top: 0;
        height: 100%;
    }
    .chat-heading {
        height: 70px;
        background-color: #009688;
    }
    .fa-2x {
        font-size: 2.3em !important;
    }
    .heading-avatar {
        padding: 0 !important;
    }
    .heading-avatar-icon img {
        height: 50px;
        width: 50px;
    }
    .heading-compose {
        padding: 5px !important;
    }
    .sideBar-avatar {
        text-align: left;
        padding: 0 8px !important;
    }
    .avatar-icon img {
        height: 55px;
        width: 55px;
    }
    .sideBar-main {
        padding: 0 !important;
    }
    .sideBar-main .row {
        padding: 0 !important;
        margin: 0 !important;
    }
    .name-meta {
        font-size: 16px;
        padding: 5% !important;
    }
    .sideBar-time {
        padding: 10px !important;
    }
    .time-meta {
        text-align: right;
        font-size: 14px;
        padding: 4% !important;
        color: rgba(0, 0, 0, .4);
        vertical-align: baseline;
    }
    /*Conversation*/
    .conversation {
        padding: 0 !important;
        margin: 0 !important;
        height: 100%;
        /*width: 100%;*/
        border-left: 1px solid rgba(0, 0, 0, .08);
        /*overflow-y: auto;*/
    }
    .message {
        height: calc(100% - 140px);
    }
    .reply {
        height: 70px;
    }
    .reply-emojis {
        padding: 5px 0 !important;
    }
    .reply-emojis i {
        padding: 5px 2px !important;
        font-size: 1.8em !important;
    }
    .reply-main {
        padding: 2px 8px !important;
    }
    .reply-main textarea {
        padding: 8px !important;
        font-size: 18px;
    }
    .reply-recording {
        padding: 5px 0 !important;
    }
    .reply-recording i {
        padding: 5px 0 !important;
        font-size: 1.8em !important;
    }
    .reply-send {
        padding: 5px 0 !important;
    }
    .reply-send i {
        padding: 5px 2px 5px 0 !important;
        font-size: 1.8em !important;
    }
}